<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="logLevel" value="7" /> <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE, TEST, ALL -->
    <add key="workingDir" value="/home/jacob" />
    <add key="styleExe" value="/home/jacob/Desktop/Jarvis/Jarvis/style/cpplint.py" />
    <add key="styleExemptions" value="--filter=-legal/copyright,-whitespace/ending_newline,-build/namespaces" />
  </appSettings>
</configuration>
