<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Jarvis Settings -->
    <add key="port" value="80" />
    <add key="logLevel" value="7" /> <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE, TEST, ALL -->
    <add key="workingDir" value="/home/jarvis" />

    <!-- Style Settings -->
    <add key="styleExe" value="/home/jarvis/jarvis/Jarvis/style/cpplint.py" />
    <add key="styleExemptions" value="--linelength=160 --filter=-legal/copyright,-whitespace/ending_newline,-build/namespaces,-whitespace/braces,-whitespace/newline,-runtime/references,-runtime/threadsafe_fn" />

    <!-- Moss Settings -->
    <add key="mossId" value="837087317" />

    <!-- Docker Settings -->
  </appSettings>
</configuration>
