<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logLevel" value="7" /> <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE, TEST, ALL -->
    <add key="workingDir" value="/home/jarvis" />
    <add key="styleExe" value="/home/jarvis/jarvis/Jarvis/style/cpplint.py" />
    <add key="styleExemptions" value="--linelength=160 --filter=-legal/copyright,-whitespace/ending_newline,-build/namespaces,-whitespace/braces,-whitespace/newline,-runtime/references" />
    <add key="port" value="80" />
  </appSettings>
</configuration>
