<meta charset="utf-8" />
<title>Jarvis</title>

<style type="text/css">
  body
  {
    background-color: black;
    color: white;
  }

  p, h3
  {
    font-family: Courier;
    margin-left: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h1, h2
  {
    font-family: Courier;
  }

  ins
  {
    background-color: #263c26;
    text-decoration: none;
  }

  del
  {
    color: #999;
    background-color: #3B1919;
  }

  td
  {
    vertical-align: top;
  }

  #filedrag
  {
    display: none;
    font-weight: bold;
    font-family: Courier;
    text-align: center;
    padding: 5px 0;
    margin: 5px 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 3px;
    cursor: default;
    width: 200px;
  }

  #filedrag.hover
  {
    color: #5079b3;
    border-color: #5079b3;
    border-style: solid;
    box-shadow: inset 0 3px 4px #668;
  }

  table, th 
  {
    border: none;
    border-collapse:collapse;
  }

  th
  {
    text-align:left;
  }

  tr.header
  {
    cursor:pointer;
  }

  .header .sign:after
  {
    content:"+";
    display:inline-block;
  }

  .header.expand .sign:after
  {
    content:"-";
  }
</style>