<meta charset="utf-8" />
<title>Jarvis</title>

<style type="text/css">
  body {
    background-color: black;
    color: white;
  }

  p, h3 {
    font-family: Courier;
    margin-left: 35px;
  }

  h1, h2 {
    font-family: Courier;
  }

  ins {
    background-color: #263c26;
    text-decoration: none;
  }

  del {
    color: #999;
    background-color: #3B1919;
  }

  td {
    vertical-align: top;
  }

  #filedrag {
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
    width: 200px;
  }

    #filedrag.hover {
      color: #f00;
      border-color: #f00;
      border-style: solid;
      box-shadow: inset 0 3px 4px #888;
    }
</style>