<!-- Includes JQuery from CDN -->
<script
        src="http://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
</script>
<script>
  var dotterTimer;
  var dotCount = 0;
  var dragFiles;

  function enableUpload()
  {
    var x = document.getElementById("file");

    if (x.value !== "")
    {
      document.getElementById("uploadButton").disabled = false;
    }
    else
    {
      document.getElementById("uploadButton").disabled = true;
    }
  }

  function uploadToJarvis(endpoint)
  {
    window.clearTimeout(dotterTimer);
    dotCount = 0;
    document.getElementById("output").innerHTML = "Uploading...";

    var xhttp = new XMLHttpRequest();

    var formData = new FormData();

    if (document.getElementById('runMoss') != undefined)
    {
      formData.append('runMoss', document.getElementById('runMoss').checked);
    }

    if (document.getElementById('runCode') != undefined)
    {
      formData.append('runCode', document.getElementById('runCode').checked);
    }

    if ((document.getElementById('file').files != undefined) && (document.getElementById('file').files.length > 0))
    {
      for (i = 0; i < document.getElementById('file').files.length; i++)
      {
        formData.append('file', document.getElementById('file').files[i]);
      }
    }
    else if ((dragFiles !== undefined) && (dragFiles.length > 0))
    {
      for (i = 0; i < dragFiles.length; i++)
      {
        formData.append('file', dragFiles[i]);
      }
    }
    else
    {
      alert('ooops, no file was selected');
    }

    xhttp.onreadystatechange = function()
    {
      if (xhttp.readyState === 4 && xhttp.status === 200)
      {
        window.clearTimeout(dotterTimer);

        document.getElementById('output').innerHTML = xhttp.responseText;

        var animations = document.getElementsByClassName('animation');

        for (var i = 0; i < animations.length; ++i)
        {
          eval(animations[i].innerHTML);
        }

        $('.header').toggleClass('expand').nextUntil('tr.header').slideToggle(0);

        $('.header').click(function()
        {
          $(this).toggleClass('expand').nextUntil('tr.header').slideToggle(0);

          if ($(this).find("span").text() == "[+]")
          {
            $(this).find("span").text("[-]");
          }
          else
          {
            $(this).find("span").text("[+]");
          }
        });
      }
      else if (xhttp.readyState === 4) //We have gotten a response, but it wasn't good
      {
        window.clearTimeout(dotterTimer);
        document.getElementById("output").innerHTML = xhttp.responseText
      }
    };

    xhttp.open("POST", endpoint, true);
    xhttp.send(formData);

    dotterTimer = setTimeout(dotter, 1000);

    document.getElementById('file').value = "";
    document.getElementById("uploadButton").disabled = true;
  }

  function dotter()
  {
   dotCount++;

   if (dotCount > 15)
   {
     document.getElementById("output").innerHTML += "<br />Jarvis is being slow, please be patient...";
     window.clearTimeout(dotterTimer);
   }
   else
   {
     document.getElementById("output").innerHTML += ".";
     dotterTimer = setTimeout(dotter, 1000);
   }
  }

  // file drag hover
  function FileDragHover(e)
  {
    e.stopPropagation();
    e.preventDefault();
    e.target.className = (e.type === "dragover" ? "hover" : "");
  }

  // file selection
  function FileSelectHandler(e)
  {
    // cancel event and hover styling
    FileDragHover(e);
    dragFiles = e.target.files || e.dataTransfer.files;
    uploadToJarvis('/run');
  }

  function initHandlers()
  {
    var filedrag = document.getElementById("filedrag");
    filedrag.addEventListener("dragover", FileDragHover, false);
    filedrag.addEventListener("dragleave", FileDragHover, false);
    filedrag.addEventListener("drop", FileSelectHandler, false);
    filedrag.style.display = "block";
  }
</script>
