<!DOCTYPE html>
<html lang="en">
<head>
  @Partial['_header.html'];
  @Partial['_script.html'];
  <script>
    window.onload = function()
    {
      document.getElementById('version').style.color = "#C20000";
    };
  </script>
</head>
<body>
  <a href="/grade"><img src="@Path['~/Content/gradingLogo.png']" alt="Jarvis logo" style='vertical-align: middle;'/></a>
  @Partial['_version.html'];
  <br />      
  <div style="position: absolute; top:0; right:0;">
    <a href="/help">
      <img src="@Path['~/Content/gradingHelp.png']" alt="Help" />
    </a>
  </div>
  <form style='font-family: Courier;'>
    <table>
      <tr>
        <td>
          <label for='file'>Zip file:</label>
        </td>
        <td>
          <input type='file' name='file' id='file' accept='.zip' onchange='enableUpload();' />
        </td>
      </tr>
      <tr>
        <td>
          <label for='canvasFile'>Canvas:</label>
        </td>
        <td>
          <input type='file' name='canvasFile' accept='.csv' id='canvasFile' />
        </td>
      </tr>
      <tr>
        <td>
          <label for='runMoss'>MOSS:</label>
        </td>
        <td>
          <input type='checkbox' id='runMoss' value='true' checked />
        </td>
      </tr>
      <tr>
        <td>
          <label for='runCode'>Run assignments:</label>
        </td>
        <td>
          <input type='checkbox' id='runCode' value='true' checked />
        </td>
      </tr>
      <tr>
        <td>
          <input type='button' id='uploadButton' value='Grade!' onclick='uploadToJarvis("/grade");' disabled/>
        </td>
      </tr>
    </table>
  </form>
  <br />
  <div id='output'>
    <span style='font-family: Courier;'>Select and upload a file.</span>
  </div>
</body>
</html>
