<!DOCTYPE html>
<html lang="en">
<head>
  @Partial['_header.html'];
  @Partial['_script.html'];
  <script>
    window.onload = function()
    {
      document.getElementById('version').style.color = "#C20000";
    };
  </script>
</head>
<body>
  <a href="/grade"><img src="@Path['~/Content/gradingLogo.png']" alt="Jarvis logo" style='vertical-align: middle;'/></a>
  @Partial['_version.html'];
  <br />      
  <div style="position: absolute; top:0; right:0;">
    <a href="/help">
      <img src="@Path['~/Content/gradingHelp.png']" alt="Help" />
    </a>
  </div>
  <form style='font-family: Courier;'>
    <label for='file'>File:</label>
    <input type='file' name='file' id='file' onchange='enableUpload();' />
    <input type='button' id='uploadButton' value='Upload' onclick='uploadToJarvis("/grade");' disabled/>
    <br />
    <label for='runMoss'>MOSS:</label>
    <input type='checkbox' id='runMoss' value='true' checked />
    <label for='runCode'>Run assignments:</label>
    <input type='checkbox' id='runCode' value='true' checked />
  </form>
  <br />
  <div id='output'>
    <span style='font-family: Courier;'>Select and upload a file.</span>
  </div>
</body>
</html>
