<!DOCTYPE html>
<html lang="en">
<head>
  @Partial['_header.html'];  
</head>
<body>
  @Partial['_jarvis.html'];
  <p>
    <h2>Uploading your code</h2>
    In order to grade your assignments, Jarvis requires the following header at the top of your cpp file.<br />	
/************************<br />	
 * A#: A09999999<br />	
 * Course: CS1400<br />	
 * Section: 1<br />
 * HW#: 1<br />	
 ***********************/<br />	
    <h2>Understanding the results</h2>
    Three parts<br />	
    Style (link to Google style guide)<br />	
    Compilation (link to understanding g++ errors guide)<br />	
    Output (link to understanding diff syntax guide)<br />	
    
  </p>
</body>
</html>
